/*Netflix Page*/


/*Reset básico para remover margens padrão*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: #000000;
	color: #ffffff;
}

/*Cabeçalho*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}

.logo {
	color: #e50914;
	font-size: 2.5rem;
	font-weight: bold;
}

.header-actions {
	display: flex;
	gap:15px;
}
.lang-select {
	background: transparent;
	color: white;
	padding: 5px 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.btn-entrar {
	background-color: #e50914;
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
}


/*Seção Hero*/

.hero {
	text-align: center;
	padding: 100px 20px;
	border-bottom: 6px solid #222;
}

.hero h2 {
	font-size: 3rem;
	margin-bottom: 15px;
}

.subtitle {
	font-size: 1.5rem;
	margin-bottom: 25px;
}

.email-form {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.email-input {
	padding: 15px;
	width: 350px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: rgba(0,0,0,5);
	color: white;
}

.btn-vamos {
	background-color: #e50914;
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 1.2rem;
	border-radius: 4px;
	cursor: pointer;
}
a {
    text-decoration: none;
	color: inherit;
}


/*Seção em Alta*/

.trending {
	padding: 40px 50px;
	border-bottom: 8px solid #222;
}

.movie-list {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

.movie-poster {
	width: 200px;
	border-radius: 5px;
	transition: transform 0.3s;
}

.movie-poster:hover {
	transform: scale(1.05);
}

/*Seção de Perguntas Frequentes (FAQ)*/

.faq {
	padding: 40px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq h3 {
	font-size: 2rem;
	margin-bottom: 30px;
}

.faq-item {
	width: 80%;
	max-width: 800px;
	margin-bottom: 10px;
}

.faq-question {
	width: 100%;
	background-color: #2d2d2d;
	color: white;
	border: none;
	padding: 20px;
	font-size: 1.2rem;
	text-align: left;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.faq-question:hover {
	background-color: #414141;
}

.faq-answer {
	background-color: #2d2d2d;
	padding: 0 20px;
	max-height: 0;   /*Escondido por padrão para o JS atuar*/
	overflow: hidden;
	transition: max-weight 0.3s ease-out, padding 0.3s ease;
	border-top: 2px solid #000;
}

/*Classe ativada pelo JavaScript*/

.faq-item.active .faq-answer {
	max-height: 200px;
	padding: 20px;
}

.faq-item.active .icon {
	transform: rotate(45eg);
	transition: transform 0.3s;
}
#pCentralizado{
	text-align: center;
}